@charset "uft-8";

/* 초기화 */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    width: 100%;
}

body,
nav,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;

}

a {
    text-decoration-line: none;
    color: #000;
}

li {
    list-style: none;
}


/* 헤더 */



.wrap {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.wrap:hover {
    transition-duration: 0.3s;
    background: #fff;
    height: 340px;
}

.logo {
    width: 320px;
    display: flex;
    justify-content: center;
    line-height: 100px;
}

#gbn {
    width: 680px;
}

#gbn>ul {
    display: flex;
    justify-content: space-between;
}

.mainn {
    width: 170px;
    height: 340px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    transition-duration: 0.3s;
}

.mainn a {
    font-size: 2.5rem;
    ;
}

.mainn:hover {
    background: #ffce32;
}

.subn {
    height: 150px;
    line-height: 36px;
}

.subn li {
    height: 36px
}

.subn a {
    font-size: 1.7rem;
}

.ms {
    width: 320px;
    display: flex;
}

.mbs ul {
    display: flex;
}

.mbs li {
    width: 60px;
    text-align: center;
    line-height: 100px;
}

.sns ul {
    width: 160px;
    display: flex;
}

.sns li {
    width: 40px;
    height: 100px;
    text-align: center;
    line-height: 112px;
}


.sns img {
    width: 25px;
}

.mobile_menu_icon {
    display: none;
}

@media (max-width:1280px) {

    .container {
        justify-content: space-between;
    }

    .wrap {
        height: 70px;
    }

    .logo {
        justify-content: start;
        line-height: 70px;
        width: 0;
    }

    #gbn {
        display: none;
        width: 0;
    }

    .sns li {
        line-height: calc(112px * 0.7);
        translate: 20%;
        margin: 0 4%;
        /* margin-right: 40%; */
    }

    .sns li:nth-of-type(1) {
        margin-left: 80%;
    }

    .sns li:nth-of-type(5) {
        cursor: pointer;
        margin-left: 50%;
        /* margin-right: 500%; */
    }

    li.mainn {
        display: none;
    }

    .mbs {
        width: 0;
    }

    .mbs a {
        display: none;
    }

    .subn {
        display: none;
    }

    .wrap:hover {
        transition-duration: 0.3;
        background: #fff;
        height: 70px;
    }

    .mobile_menu_icon {
        display: block;
    }

}

@media (max-width:760px) {

    .wrap {
        height: 60px;
    }

    .logo {
        /* margin-left: 10px; */
        line-height: 60px;
        width: 0;
    }

    .mbs {
        display: none;
    }

    .sns li {
        display: none;
        margin: 0 4px;
    }

    .sns li:nth-of-type(5) {
        display: block;
        transform: translateX(100px);
    }

    .wrap:hover {
        transition-duration: 0.3;
        background: #fff;
        height: 60px;
    }

    .ms {
        width: 200px;
        /* width: 30%; */
    }
}

/* 푸터 */

footer {
    width: 100%;
    height: 440px;
    background: #292929
}

.bcon {
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background: #ffce32
}

.bcon>li {
    height: 200px;
    width: 320px;
    text-align: center;
    line-height: 20px;

}


.bmn {
    display: inline-block;
    height: 40px;
    line-height: 50px;
    font-size: 2rem;
}

.bsn li {
    margin: 3px;
}

.bmac {
    width: 100%;
    height: 200px;
}

.bsmc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bsm {
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
}

.bsm li {
    width: 300px;
}

.adcp div {
    margin-top: 32px;
    text-align: center;
}