/* 20 box_model */

/* 
    width: 너비
    height: 높이
    border: 테두리
    margin: 요소 바깥 여백
    padding: 요소 안쪽 여백
*/

/*  
    width: auto; (100%)
    height: auto; (컨텐츠 크기)

    %는 부모 크기 기준
*/

/* 
    위아래 margin은 둘 다 지정되어 있다면 큰 쪽으로만 지정 (상하마진 겹쳤을 때)
*/


ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 20-1 box-sizing */

/* 
    padding 20주면 width,height 20*2
    width와 height에 border,padding 크기가 포함된다.
*/

/* 
    box-sizing:
        - content-box: 기본값. 
                        padding, border가 width, hegiht에 포함되지 않음. 다른 width, height가 됨.
                        => 박스의 사이즈는 width,height만. + padding, border는 별개 사이즈 박스가 300x300이면 padding,border 넣으면 다른 박스가 생겨서 커짐

        - border-box: 내용 영역의 width, height는 padding, border를 포함한 범위가 된다.
                      => 박스의 사이즈는 padding,border 포함한 크기. 박스가 300x300이면 padding,border 넣어도 300x300

        - inherit: 부모 요소의 값을 물려 받음
*/

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 21 - margin, padding */

/* 
    margin 좌우 : 주는 만큼 +
    margin 상하 : 큰 수치만 적용

    인라인 요소의 margin: 좌우(O) 상하(X)

    인라인-블록 요소: img, input, button

    인라인-블록 , 블록 같이 마진상하 쓰는 경우 상하 마진이 각각 적용되는듯 함

*/

/* body 기본 마진 8px */
/* margin 음수지정 가능 padding 음수지정 불가*/

/* 
    margin-top, margin-bottom, margin-left, margin-right

    margin 상, 우, 하, 좌;
    margin 상하, 좌우;
    margin 전체;
*/


ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 22 - 최근글 */

/* 
    숫자 0: 단위 생략 가능

    블록레벨 요소
        - 줄바꿈 o
        - width, height 지정 가능
        - width: 100% , height: 컨텐츠 크기
        - 가운데 배치: margin: 0 auto;
    
    인라인 요소
        - 줄바꿈 x
        - width, height 지정 불가 (CSS)
        - width, height : 컨텐츠 크기
        - 가운데 배치: text-align: center;
                        (부모에 줘야 하는 듯)

    인라인-블록 요소
        - margin 상 하 가질 수 있음
        - width, height 지정 가능
        - 수평배치

 */

 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 22 - border */

/* 
속기형
    border: [두께] 스타일 [색];
            1px    dashed  red;

        border-top: [두께] 스타일 [색];
        border-right
        border-bottom
        border-left

            border-width: 
            border-style:
            border-color:

                border-top-width:
                border-right-style:
                ...
*/

/* 
    border-style: 테두리 종류;
                    none: 없음
                    solid: 실선
                    dotted: 점선
                    dashed: 대시선
                    double: 이중실선
                    hidden: 숨김
                    groove: 홈이 파임
                    ridege: 산등성이
                    inset: 안쪽
                    outset: 바깥쪽
    
    border-radius: 모서리 둥글게
                    좌상, 우상, 우하, 좌하
                    

    border-width: thin, medium, thick, oopx, oo%, em, rem
                    상 우 하 좌;
*/

/* 
    outline-offset : 선 사이 간격

    outline은 상하좌우 개별 속성 X
*/

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 23 - box-shadow */

/* 
    text-shadow : 가로 세로 [흐림] [색], 가로 세로...
    box-shadow : 가로 세로 [흐림] [퍼짐] [색] [inset], 가로 세로...


    box-shadow: 10px 10px 10px 10px #888 inset, 10px 10px 10px 10px #888 inset;
*/


ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 24 - display */

/* 
    display
            - none, 
            - block, inline, inline-block, 
            - table, table-cell, list-items
            - flex, grid
    
    display: none; -> 화면에서 아예 제거, transition 적용 X

    visibility : 숨기기만 하고 자리는 차지


*/

/* 
    li = display: list-item;

    block: width = auto = 100% , height = auto = 컨텐츠크기

    img 외에 인라인 요소는 width, height 지정 X
*/

/* 
    display: inline-block
        - 줄바꿈x 왼쪽->오른쪽 배치
        - button, input..
        - width, height, margin, padding, border 지정 가능
        - button: box-sizing:border-box임
*/

/* 
    div, a 태그는 모든 요소를 하위 요소로 가질 수 있다. (블록, 인라인 그룹핑 o)
    일반적으로 인라인 요소는 블록레벨 요소 그룹핑 X
    일반적으로 블록레벨 요소는 인라인, 블록레벨 그룹핑 O
*/


ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 25 - float */
/* 여전히 어려움 */

/* 
    블록레벨 요소 가로 배치
    
    float 처리한 요소 -> 공중에 뜸 <- 아래 요소가 위로 올라옴
    (비유: Z인덱스가 다르다고 생각하면 될듯) (기존 자리를 대체하려고 함)

    자식을 float 처리하면 부모의 height = 0

        => 요소에 float를 적용했을 때
            - 부모 height : 0
            - float 요소 아래에 하위요소가 들어간다.
                => 해결방안
                    1. ::after + clear:both 
                        - 이게 clearfix인듯
                    2. overflow: hidden; 
                        -
                    3. clear: both;
                        - 빈태그 만들어서 하는거
                    4. height 
                        - 높이 계산해서 주기

    float, clear는 블록레벨 요소에만 적용

    float: left -> 왼쪽 기준 배치
    float: right -> 오른쪽 기준 배치
    
    clear : float 처리한 요소의 아래(형제) 요소의 float 제거
        - left
        - right
        - both
*/

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 26 - overflow */

/* 
    overflow: visible
        - 넘치는 컨텐츠 그대로 보여줌
        - 기본값

    overflow: scroll
        - 가로 세로 스크롤이 그냥 생김

    overflow: hidden
        - 넘치는 컨텐츠 감춤

    overflow: auto
        - 자동으로 맞춰서 스크롤이 생김
    
    overflow-x: scroll
        - 가로 스크롤이 그냥 생김
        
    overflow-y: scroll
        - 세로 스크롤이 그냥 생김

*/

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 27 - display: flex */

/* 
    가로/세로 방향

    속기형
        - flex

    속성
        - flex-direction : 방향;
            - row : 행, 가로, 기본값
                    왼쪽위 ->
            - column : 열, 세로
                    왼쪽위 ↓
            - row-reverse : 역-가로
                    오른쪽위 <-
            - column-reverse : 역-세로
                    왼쪽아래 ↑

        - flex-wrap : 줄바꿈; 
            - nowrap : 줄바꿈 하지 않음
                        width 줄이면 같이 사이즈 줄어듬
            - wrap : 줄바꿈 함
                        오른쪽 위의 것이 왼쪽 아래로 내려감
                        알아서 아래로 내려감 
            - wrap-reverse : 역으로 줄바꿈 함
                        오른쪽 아래의 것이 왼쪽 위로 올라감

        - flex-flow : direction, wrap (속기형)
                     ex) flex-flow: row wrap 혹은 wrap row


        - justify-content : 주축 정렬
            - flex-start : 시작 (기본값)
            - flex-end : 끝
            - start : reverse가 적용되지 않는 시작
                     오른쪽 4321 일 것이 왼쪽 4321로 바뀜 (flex-direction: row-reverse일 때)
            - end : reverse가 적용되지 않는 끝
            - center : 가운데
            - space-between : 시작과 끝 배치 후 남은 공간 균등
            - space-around: 아이템의 주변 공간 균등
            - space-evenly : 아이템을 제외한 남은 공간 균등

        - align-items : 교차축 정렬
            - normal
            - stretch : 아이템 크기 지정안했을 경우 기본값 / 컨테이너 크기만큼 늘어남
            - flex-start : 아이템 크기 지정했을 경우 기본값
            - flex-end : 끝
            - center : 가운데
            - baseline
            
        - align-content : 교차축 블록 방향 정렬 (2개 이상 라인 존재)
            - flex-start
            - flex-end
            - start
            - end
            - center
            - space-between
            - space-around
            - space-evenly
            
        
        자식: 플렉스 아이템
        - align-self : 교차축 정렬 (align-items 보다 우선 적용)
        - flex-grow : 커진다
        - flex-shrink : 작아진다
        - flex-basis : 처음 크기
        - flex: grow shrink basis
        - order : 순서 (숫자가 작을 수록 앞배치)
*/

/* 
    부모 : 플렉스 컨테이너
        - display:flex; 를 부모에게 적용시키면 컨테이너. 자식은 아이템이면서 컨테이너 자손은 플렉스 아이템이 되고 플렉스가 적용됨.
*/

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 28 - position */

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

/* 28-2~28-6 - 기타 */