<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <!--    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>-->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${ errorMessage }]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });


    </script>

</th:block>

<div layout:fragment="content">
    <div class="container mt-3 col-5" th:object="${reservDto}">
        <!--    <form action="/reserv/roomReservation/saveReserv" role="form" method="post">-->
        <form role="form"></form>
        <div class="form-group">
            <input type="hidden" th:field="*{room.id}" th:value="*{room.id}" name="room" id="room">
            <input type="hidden" th:field="*{room.lodging.id}" th:value="*{room.lodging.id}" name="lodging"
                id="lodging">
            <input type="hidden" th:field="*{member.id}" th:value="*{member.id}" name="member" id="member">
            <input type="hidden" th:field="*{checkIn}" th:value="*{checkIn}" name="checkIn" id="checkIn">
            <input type="hidden" th:field="*{checkOut}" th:value="*{checkOut}" name="checkOut" id="checkOut">

            <!--        결제 정보를 받기 위해 정의, 스크립트 상에서 변수로 받아야 하기 때문에 하나씩 정의함.    -->
            <input type="hidden" th:value="*{totalPrice}" name="roomTotalPrice" id="rooomTotalPrice">
            <input type="hidden" th:value="*{room.name}" name="roomName" id="roomName">
            <input type="hidden" th:value="*{room.price}" name="roomPrice" id="roomPrice">
            <input type="hidden" th:value="*{member.name}" name="memberName" id="memberName">
            <input type="hidden" th:value="*{member.email}" name="memberEmail" id="memberEmail">
            <input type="hidden" th:value="*{(member.phoneN1 + '-' + member.phoneN2 + '-' + member.phoneN3)}"
                name="memberPhoneNumber" id="memberPhoneNumber">

            <p class="fw-bolder">숙소</p>
            <span th:text="*{room.lodging.name}" class="fs-5 fw-bold">숙소명</span>
            <p th:text="*{room.name}" class="fw-bolder">방이름</p>

            <div class="d-flex">
                <div class="d-flex flex-column me-5">
                    <span>체크인</span>
                    <span th:text="*{checkIn}" class="fw-bolder">체크인 날짜</span>
                    <span th:text="*{room.checkInTime}">체크인 시간</span>
                </div>
                <div class="d-flex flex-column ms-5">
                    <span>체크아웃</span>
                    <span th:text="*{checkOut}" class="fw-bolder">체크아웃 날짜</span>
                    <span th:text="*{room.checkOutTime}">체크아웃 시간</span>
                </div>
            </div>
            <div class="col-10 d-flex align-items-end flex-column">
                <p th:text="'(1박 기준)'+*{room.price}+'원'" class=" mt-4">방가격</p>
                <p class="ms-3 fw-bolder" th:text="'결제 금액 : '+${reservDto.totalPrice}+ '원'"></p>
                <p style="color:red" class="fw-bolder">취소 및 환불불가</p>
            </div>

            <h3>이용자 정보</h3>
            <div class="form-group col-10">
                <label th:for="name">이름</label>
                <input type="text" id="name" th:field="*{reservName}"
                    class="form-control border-bottom border-dark rounded-0" placeholder="이름을 입력해주세요"
                    style="border:none;">
                <p th:if="${#fields.hasErrors('reservName')}" th:errors="*{reservName}" class="fieldError">Incorrect
                    data</p>
            </div>

            <div class="form-group col-10">
                <label th:for="pn">전화번호</label>
                <input type="text" id="pn" th:field="*{reservPN}"
                    class="form-control border-bottom border-dark rounded-0" placeholder="전화번호를 입력해주세요"
                    style="border:none;">
                <p th:if="${#fields.hasErrors('reservPN')}" th:errors="*{reservPN}" class="fieldError">Incorrect data
                </p>
            </div>
        </div>

        <div style="text-align: center">
            <button type="button" id="cash" class="btn btn-outline-success mt-5">결제하기</button>
            <button onclick="saveReserv()"> test</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

        <script>
            console.log($("#name").val());

            // 시큐리티 관련 csrf 공격 방지 토큰
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // 결제 페이지로 input 값을 보내주기 위해 정의함 (객실 이름, 객실 가격 등)
            // 검증단계에서 가격을 비교하기 위해 roomId를 보냄 (상품페이지의 가격을 조작할 수 있기 때문)
            var room = [[${ reservDto.room.id }]];
            var roomName = $('input[name="roomName"]').val();
            var roomPrice = $('input[name="roomTotalPrice"]').val();
            var memberName = $('input[name="memberName"]').val();
            var memberEmail = $('input[name="memberEmail"]').val();
            var memberPhoneNumber = $('input[name="memberPhoneNumber"]').val();
            var formSubmit = document.querySelector('.displayNone');


            // input 값 확인
            console.log("room_id: " + room);

            // 가맹점 식별 코드 초기화
            var IMP = window.IMP;
            IMP.init('imp20076276');

            // http 응답을 받기 위해 선언 (솔직히 잘 모르겠음)
            const requestHttp = new XMLHttpRequest();
            var roomId = $("#room").val();
            var checkIn = $("#checkIn").val();
            var checkOut = $("#checkOut").val();
            var url = `/reserv/reservationPay/${roomId}/${checkIn}/${checkOut}`;
            requestHttp.open("POST", url);

            // 결제하기 버튼을 누를 시 작동하는 함수
            $('#cash').click(function () {

                // 가맹점 식별 코드 (포트원 결제연동 -> 내 식별 코드)

                IMP.request_pay({
                    // 등록된 PG사가 여러개인 경우 inicis로 지정
                    // PG사: 온라인 쇼핑몰 - 신용카드사 와의 결제를 대행해주는 업체
                    pg: 'html5_inicis',
                    // card(신용카드), trans(실시간계좌이체), phone(휴대폰소액결제) 등등
                    pay_method: 'card',
                    // 상점에서 관리하는 주문 번호
                    merchant_uid: memberName + '_' + roomName + '_' + new Date().getTime(),

                    // 이니시스 결제창에서 등장하는 상품명
                    name: roomName,
                    // 실제 금액
                    amount: roomPrice,

                    // 구매자 항목
                    // 구매자 이메일 (필수입력)
                    buyer_email: memberEmail,
                    // 구매자 이름
                    buyer_name: memberName,
                    // 구매자 핸드폰 번호 (필수입력) <미설정시 이니시스 결제창에서 오류 발생>
                    buyer_tel: memberPhoneNumber

                }, function (rsp) {
                    console.log(rsp);

                    if (rsp.success) {
                        // 서버 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기

                        var data = {
                            room_id: room,
                            checkIn: $("#checkIn").val(),
                            checkOut: $("#checkOut").val(),
                        };

                        var paramData = JSON.stringify(data);
                        var roomId = $("#room").val();
                        var checkIn = $("#checkIn").val();
                        var checkOut = $("#checkOut").val();
                        var url = `/reserv/reservationPay/${roomId}/${checkIn}/${checkOut}`;

                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                            data: paramData,
                            contentType: "application/json",
                            beforeSend: function (xhr) {

                                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                                xhr.setRequestHeader(header, token);

                                requestHttp.setRequestHeader(header, token);
                                requestHttp.send(xhr);
                            }
                            , statusCode: {
                                200: function () {
                                    var msg = '결제가 완료되었습니다.';
                                    alert(msg);

                                    saveReserv();
                                },
                                400: function () {
                                    alert('400 status code! server error');
                                    var msg = '결제에 실패하였습니다.';
                                    msg += '\n결제 금액 : ' + rsp.paid_amount;
                                    msg += '\n결제 처리가 이미 완료된 경우 판매자와 문의하십시오.'
                                    // 예약이 이미 잡힌 경우

                                    alert(msg);
                                },
                                500: function () {
                                    alert('500 status code! server error');
                                    var msg = '결제에 실패하였습니다.';
                                    msg += '에러내용 : ' + rsp.error_msg;
                                    alert(msg);
                                }

                            }
                        })
                    }
                });
            });

            function saveReserv() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                // URL
                const url = `/reserv/roomReservation/saveReserv`;

                var data = {
                    name: $("#name").val(),
                    tel: $("#pn").val(),
                    lodging_id: $("#lodging").val(),
                    room_id: $("#room").val(),
                    member_id: $("#member").val(),
                    checkIn: $("#checkIn").val(),
                    checkOut: $("#checkOut").val()
                };

                var paramData = JSON.stringify(data);

                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: paramData,
                    beforeSend: function (xhr) {
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,

                    success: function () {
                        alert("예약이 성공적으로 저장되었습니다.");
                        location.href = '/reserv/reservs';

                    }, error: function () {
                        alert("예약 중 오류가 발생되었습니다.");
                    }

                });



            };

        </script>

    </div>
</div>

</html>