@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: #ddd;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: #000;
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #ddd;
}

::-webkit-scrollbar {
    display: none;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1450px;
    height: 950px;
    background-color: #222;
    border-radius: 15px;
}

.left_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 36px;
    width: 25%;
    height: 100%;
    border-right: 1px dashed #666;
}

.profile_image {
    width: 200px;
    height: 200px;
    background-image: url(../img/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.name {
    margin-top: 12px;
    text-align: center;
}

.name p:nth-of-type(1) {
    font-size: 1.8rem;
    margin-top: 4px;
}

.name p:nth-of-type(2) {
    font-size: 1.0rem;
    margin-top: 4px;
}

.quick_menu {
    margin-top: 36px;
    width: 100%;
}

.quick_menu p {
    margin-top: 18px;
    border-bottom: 1px dashed #666;
}

.extra_menu {
    width: 100%;
    text-align: left;
    margin-top: 48px;
    font-size: 1.2rem;
}

.extra_menu p:nth-of-type(1) {
    margin-bottom: 12px;
}

.img_div {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 44px;
}

.right_content {
    width: 75%;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: auto;
}

section {
    padding: 22px 40px 22px 40px;
    /* padding: 0px 40px 0px 40px; */
    height: 100%;
}

h2 {
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px dashed #666;
}

/* sec1 */

/* sec2 */

/* sec3 */

/* sec4 */

#sec4 {
    position: relative;
}

.progress_box {
    display: flex;
    justify-content: space-evenly;
    height: 180px;
}

.progress_text_box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
}

.progress_text_box p:nth-of-type(1){
    transform: translateX(-20px);
}

.progress_text_box p:nth-of-type(2){
    transform: translateX(-10px);
}

.progress_text_box p:nth-of-type(3){
    transform: translateX(10px);
}

.circleChart {
    width: 175px;
    height: 175px;
}

.skil_box {
    display: flex;
    flex-direction: row;
}

.ml {
    margin-left: 15px;
}

.ml2 {
    margin-left: 30px;
}

.text_gray {
    font-size: 1.15rem;
    color: #aaa;
}

/* sec5 */

.project_box {
    width: 100%;
    height: 80%;
}

.project {
    display: flex;
    height: 100%;
}

.project~.project {
    display: none;
}

.left_project_content {
    width: 50%;
    height: 100%;
    text-align: center;
}

.right_project_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.flex_start {
    justify-content: flex-start;
}

.text_box {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 80px;
}

.text_box p {
    display: flex;
    text-align: start;
}

.text_box2 {
    display: flex;
    flex-direction: column;
}

.text_box2 p {
    display: flex;
    text-align: start;
}

.text_box2 span {
    margin-left: 12px;
    align-self: center;
    justify-self: center;
}

.text_box span {
    margin-left: 12px;
    width: 250px;
    align-self: center;
}

.mt {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mt2 {
    margin-top: 30px;
}

.tab {
    display: flex;
    width: 100%;
    height: 13%;
    border-top: 1px dashed #666;
}

.sub_tab {
    margin-top: 8px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    transition: .5s;
}

.sub_tab+.sub_tab {
    margin-left: 4px;
}

.bold {
    font-size: 1.8rem;
    font-weight: 700;
}

.left_imgbox {
    margin: 8px auto;
    border: 1px solid black;
    width: 450px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    background-color: #fff;
}

.project span {
    font-size: 1.15rem;
    color: #aaa;
}

.project a {
    border-bottom: 1px solid #fff;
}

.text_box2>p:nth-of-type(1) {
    font-size: 1.35rem;
}

.flex_box p+p {
    font-size: 1.35rem;
}

.project5_imgbox {
    background-image: url(../img/project5full.png);
    box-shadow: 2px 2px 2px 2px #333;
}

.project4_imgbox {
    background-image: url(../img/project4full.png);
    box-shadow: 2px 2px 2px 2px #333;
}

.project3_imgbox {
    background-image: url(../img/project3full.png);
    box-shadow: 2px 2px 2px 2px #333;
}

.project2_imgbox {
    background-image: url(../img/project2full.png);
    box-shadow: 2px 2px 2px 2px #333;
}

.project1_imgbox {
    background-image: url(../img/project1full.png);
    box-shadow: 2px 2px 2px 2px #333;
    background-size: contain;
    background-position: 0 50%;
}

.project5_tab {
    background-image: url(../img/project5.png);
}

.project4_tab {
    background-image: url(../img/project4.png);
    background-position: 50%;
}

.project3_tab {
    background-image: url(../img/project3.png);
    background-position: 50%;
}

.project2_tab {
    background-image: url(../img/project2.png);
    background-position: 50%;
}

.project1_tab {
    background-image: url(../img/project1.png);
}