<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<!--    header라고 이름을 지정한다.-->
    <meta charset="UTF-8">
    <title>Hello, World</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
<!--    기본적으로 static 폴더로 읽는다 (이미지도 static에 저장한다.)-->
</head>
<body>