@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 헤더 */

#header {
    /* border: 2px solid red; */
    box-shadow: 0 0 2px 0 #aaa;
    position: relative;
    z-index: 999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 161px;
}

.header_line {
    background-color: #fff;
    position: absolute;
    z-index: 999;
    /* border: 1px solid red; */
    width: 100%;
    height: 111px;

}

.header_line img {
    position: absolute;
    z-index: 999;
    left: calc(50%);
    top: calc(50%);
    transform: translate(-50%, -50%);
}

.gnb_line {
    position: absolute;
    z-index: 999;
    bottom: 0;
    /* border: 1px solid black; */
    width: 100%;
    position: absolute;
    height: 50px;
}

.mobile_color_line {
    display: none;
}

.color_line {
    position: relative;
    opacity: 0;
    transition: .5s;
    z-index: 999;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(20deg, #0f0, #ff0, #f40, #f0f, #f80);
}

.on {
    opacity: 1;
    transition: 0s;
}

.depth1 {
    z-index: 997;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
    background-color: #fff;
}

.depth1 li {
    z-index: 996;
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 0 20px;
    height: 55px;
}

.depth2_wrap {
    position: absolute;
    z-index: 1;
    /* top: -560%; */
    width: 100%;
    height: 0px;
    background-color: #fff;
    transition: .4s;
}

.depth2 {
    position: relative;
    z-index: 2;
    width: 300px;
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 30px;
    height: 335px;
    line-height: 5px;
    text-align: center;
    left: -20px;
}


.hamburger_button {
    display: none;
}

.hamburger_menu {
    display: none;
}


/* //..헤더 */

.cf::after {
    content: '';
    clear: both;
    display: block
}

a {
    text-decoration: none;
    color: #000
}

ul {
    list-style: none
}

body {
    font-family: 'NanumSquare', sans-serif;
    font-size: 16.5px;
    overflow-x: hidden;
    width: 100%;
    max-width: 1920px;
    min-width: 1000px;
    height: 3000px;
}

.wrap {
    width: 100%;
}

/* 슬라이드 */

#s1 {
    width: 100%;
    height: 840px;
    position: relative;
}

.s1_tbox {
    position: absolute;
    width: 30%;
    border: 1px solid #333;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: url(../img/main_txt_box.png) no-repeat 50% 50% / cover;
}

.s1_tbox h2 {
    font-size: 45px;
    padding: 20px 0;
    transform: translate(0, 70px);
    text-align: center;
    transition: all 1s;
    opacity: 0;
}

.s1_tbox p {
    transform: translate(0, 70px);
    opacity: 0;
    transition: all 1s 1s;
    /* 앞의 1s(1초) 진행시간 뒤에 1s(1초) 대기시간 */
}

.s1_tbox h2.on {
    transform: translate(0, 0);
    opacity: 1;
}

.s1_tbox p.on {
    transform: translate(0, 0);
    opacity: 1;
}

@media (max-width: 1000px) {

    .depth1 {
        display: none;
    }

    .depth2 {
        display: none;
    }

    #header {
        width: 100vw;
        height: 89px;
    }

    .header_line {
        height: 89px;
    }

    #header::after {
        z-index: 1020;
        border-bottom: 2000px solid red;
    }

    #header img {
        width: 178px;
        height: 35px;
        /* top: 60%; */
    }

    .gnb_line {
        display: none;
    }

    .color_line {
        display: none;
    }

    .hamburger_wrap {
        display: block;
        width: 100vw;
        left: -15px;
        position: relative;
        z-index: 10000;
        /* border: 3px solid black; */
    }

    .mobile_color_line {
        display: block;
        position: absolute;
        z-index: 2000;
        width: 100vw;
        height: 2px;
        transform: translateY(89px);
        background-image: linear-gradient(20deg, #0f0, #ff0, #f40, #f0f, #f80);
    }


    .hamburger_button {
        display: block;
        position: relative;
        z-index: 1000;
        top: 30%;
        right: -90%;
        height: 30px;
        transition: .5s;
        /* border: 1px solid pink; */
    }

    .hamburger_button span {
        position: absolute;
        z-index: 1000;
        top: 50%;
        width: 33px;
        height: 1px;
        border: 1px solid black;
    }

    .hamburger_button span:nth-of-type(1) {
        top: 10%;
    }

    .hamburger_button span:nth-of-type(2) {
        top: 90%;
    }

    .hamburger_menu {
        display: block;
        position: fixed;
        z-index: 3300;
        right: -300px;
        width: 250px;
        height: 100vh;
        background-color: #fff;
        transition: .8s;
    }

    .hamburger_menu h2 {
        width: 100%;
        height: 80px;
        text-align: center;
    }
    
    .hamburger_menu img {
        transform: translateY(50%);
    }

    .hamburger_menu div {
        position: relative;
        right: 0;
        z-index: 3000;
        width: 250px;
        height: 2px;
        background-image: linear-gradient(20deg, #0f0, #ff0, #f40, #f0f, #f80);
    }

    .hamburger_menu ul {
        z-index: 3002;
        /* position: relative; */
        border: 1px solid black;
        font-size: 1.6rem;
        background-color: #fff;
    }
    
    .hamburger_menu li {
        /* position: relative; */
        z-index: 2999;
        /* border: 1px solid black; */
        font-size: 1.1rem;
        margin-top: 2px 0;
        height: 0px;
        /* height: 40px; */
    }

}