*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
    scroll-behavior: smooth;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #EA5B0C #fdfdfd;
}

header {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 80px;
    padding: 0 12%;
}

header>div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

header>div>ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* 로고 */
header>div:nth-of-type(1) {
    width: 30%;
    min-width: 200px;
}

header>div:nth-of-type(1)>img {
    width: 44px;
    height: 44px;
}

header>div:nth-of-type(1)>h1 {
    margin-left: 12px;
    font-size: 2.4rem;
}

/* 햄버거 메뉴 버튼 */

header .hamburger {
    background-color: #fff;
    width: 44px;
    height: 40px;
    border-radius: 15%;
    border-color: #999;
    /* flex에서 하나만 오른쪽 끝 정렬 */
    margin-left: auto;
}

header .stick {
    position: relative;
    background-color: #444;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 3px;
}

header .stick::before {
    content: "";
    position: absolute;
    background-color: #444;
    display: block;
    width: 100%;
    height: 3px;
    top: 300%;
}

header .stick::after {
    content: "";
    position: absolute;
    background-color: #444;
    display: block;
    width: 100%;
    height: 3px;
    top: -300%;
}

/* 햄버거 메뉴 */

header .hamburger_menu {
    background-color: rgba(240, 240, 240, 0.9);
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 9.8%;
    width: 100%;
    /* 햄버거메뉴 크기 */
    height: 280px;
    /* border: 1px solid black; */
    transition: .5s;
}

header .hamburger_menu li {
    font-size: 1.7rem;
    height: 50px;
    /* border-bottom: 1px solid black; */
    text-align: center;
    transition: .5s;
}

header .hamburger_menu>div>ul>li:nth-of-type(1) {
    margin-top: 8px;
}

header .hamburger_menu>div:nth-of-type(2) {
    margin: 8px auto;
    width: 400px;
}

header .hamburger_menu>div:nth-of-type(1)>img {
    width: 44px;
    height: 44px;
}

/* 메뉴(모임, 커뮤니티 등) */
header>div:nth-of-type(2) {
    min-width: 580px;
}

header>div:nth-of-type(2)>ul>li {
    font-size: 1.4rem;
    margin-left: 44px;
}

/* 검색 */
header>div:nth-of-type(3) {
    min-width: 300px;
}

header .search_form {
    width: 80%;
    border: 2px solid #EA5B0C;
}

header .search_form:focus {
    outline: 6px double #EA5B0C;
    box-shadow: none;
    transition: .1s;
}

/* 회원정보(로그인/회원가입/마이페이지) */
header>div:nth-of-type(4) {
    max-width: 100px;
    min-width: 200px;
}

header>div:nth-of-type(4)>ul {
    margin: 0 auto;
}

header>div:nth-of-type(4)>ul>li+li::before {
    content: "ㅣ";
    margin: 0 2px;
}

header a:hover {
    color: #EA5B0C;
    font-weight: 700;
}

header .dropdown-item:active {
    background-color: #EA5B0C;
}

.content_below_push {
    height: 80px;
}

header .none {
    display: none;
}

/* header .op_0 {
    opacity: 0;
} */

/* 헤더 반응형 */

/* 비회원/회원란 보이기 */
@media screen and (max-width: 1250px) {

    header {
        padding: 0 6%;
    }


    /* 로고 */
    header>div:nth-of-type(1) {
        width: 0%;
        min-width: 170px;
    }

    /* 메뉴(모임, 커뮤니티 등) */
    header>div:nth-of-type(2) {
        min-width: 410px;
    }

    header>div:nth-of-type(2)>ul>li {
        font-size: 1.4rem;
        margin-left: 20px;
    }

    /* 검색 */
    header>div:nth-of-type(3) {
        min-width: 200px;
    }

    header .search_form {
        width: 100%;
    }

    /* 회원정보(로그인/회원가입/마이페이지) */
    header>div:nth-of-type(4) {
        margin-left: 8px;
        max-width: 100px;
        min-width: 200px;
    }

}

@media screen and (max-width: 900px) {
    header>div~div {
        display: none;
    }

    header .hamburger {
        display: block;
    }
}

/* ------------------------------------------------------------------ */

/* 섹션1 */
.section1 {
    height: 750px;
}

.section1_carousel_box {
    width: 100%;
    height: 750px;
}

.section1_carousel_box img {
    margin: 0 auto;
    height: 750px;
    object-fit: cover;
}

/* 캐로셀 설명글 (다모임, 공지사항, 이벤트) */
.section1 .carousel-caption {
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    width: 28%;
    min-width: 350px;
}

.section1 .carousel-caption3 {
    min-width: 400px;
}

.section1 .carousel-caption h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 24px;
    text-shadow: 1px 1px 4px #444;
}

.section1 .carousel-caption p {
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px #444;
}

.section1 .carousel-caption p:nth-of-type(1) {
    font-size: 2.2rem;
}

.section1 .carousel-caption p:nth-of-type(2) {
    font-size: 1.8rem;
    line-height: 48px;
}

/* 캐로셀 컨텐츠 박스 (공지사항 내용물 등) */
/* .section1 .content_box {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
    width: 1400px;
    height: 450px;
    border-radius: 15px;
}

.section1 .content {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 2px 15px #666;
}

.section1 .content_imgbox {
    width: 400px;
    height: 250px;
}

.section1 .content_imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #ccc;
}

.section1 .content_textbox p {
    color: #333;
    text-shadow: 0px 0px #333;
    margin-bottom: 0;
}

.section1 .content_textbox p:nth-of-type(1) {
    font-size: 1.6rem;
}

.section1 .content_textbox p:nth-of-type(2) {
    font-size: 1.2rem;
}

.section1 .content_textbox p:nth-of-type(3) {
    font-size: 1.2rem;
}

.section1 .carousel-control-prev-icon {
    width: 30%;
    height: 75px;
}

.section1 .carousel-control-next-icon {
    width: 30%;
    height: 75px;
} */

/* 섹션2 */
.section2 {
    height: 920px;
    background-color: rgb(235, 235, 235);
    padding: 0 8%;
}

.section23_textbox {
    padding: 32px 0;
    text-align: center;
    font-weight: bold;
}

.section23_textbox p:nth-of-type(1) {
    font-size: 2.5rem;
}

.section23_textbox p:nth-of-type(2) {
    font-size: 1.4rem;
}

.section2 .meeting_box {
    margin: 0 auto;
    width: 90%;
    height: 510px;
}

.section2 .meeting_slide {
    background-color: #fff;
    width: 200px;
    height: 510px;
    border-radius: 15px;
}

.section2 .plus>a {
    background-color: #fff;
    border-radius: 24px;
    margin-top: 36px;
    padding: 16px 50px;
}

/* 슬라이드 안의 컨텐츠 */

.section2 .slide_img_box,
.section3 .slide_img_box {
    position: relative;
    width: 100%;
    height: 250px;
}

.section2 .slide_img_box img:nth-of-type(1),
.section3 .slide_img_box img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.section2 .slide_img_box img:nth-of-type(2),
.section3 .slide_img_box img:nth-of-type(2) {
    position: absolute;
    left: 4%;
    top: 82%;
}

.section2 .slide_img_box span,
.section3 .slide_img_box span {
    color: #fff;
    position: absolute;
    left: 13%;
    top: 81%;
}

.section2 .slide_contents_box,
.section3 .slide_contents_box {
    padding: 2px 28px;
    color: #333;
}

.section2 .slide_contents_box>p:nth-of-type(1),
.section3 .slide_contents_box>p:nth-of-type(1) {
    margin-top: 12px;
}

.section2 .slide_contents_box>div:nth-of-type(1),
.section3 .slide_contents_box>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
}

.section2 .slide_contents_box>div:nth-of-type(1)>span,
.section3 .slide_contents_box>div:nth-of-type(1)>span {
    font-size: 1.6rem;
}

.section2 .meeting_info p,
.section2 .meeting_info span,
.section3 .meeting_info p,
.section3 .meeting_info span {
    margin: 0;
}

.section2 .meeting_info>p:nth-of-type(1),
.section3 .meeting_info>p:nth-of-type(1) {
    margin-top: 8px;
}

.section2 .meeting_info>div.ea5b0c,
.section3 .meeting_info>div.ea5b0c {
    margin-top: 10px;
}

.section2 .meeting_info>div:nth-of-type(2),
.section3 .meeting_info>div:nth-of-type(2) {
    margin-top: 12px;
}

.section2 .text_shadow,
.section3 .text_shadow {
    text-shadow: 1px 1px 1px #333;
}

/* 섹션3 */

.section3 {
    min-height: 800px;
    padding: 0 80px 60px 80px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.section3 .recommendation_box {
    width: 350px;
    margin: 0px 72px 16px 72px;
}

.section3 .recommendation_slide_box {
    /* background-color: #333; */
    border-radius: 15px;
}

.section3 .recommendation_slide {
    background-color: #444;
    width: 350px;
    height: 520px;
    border-radius: 15px;
}

.section3 .slide_box div {
    color: #fff;
}

.recommendation_box>p {
    /* color: #333; */
    font-size: 1.9rem;
    font-weight: bold;
}

/* 섹션4 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10%;
    content: "";
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 10%;
}

.section4_description {
    position: relative;
    z-index: 2;
}

.section4_img1 {
    background-image: url(section4_img1.png);
}

.section4_img2 {
    background-image: url(section4_img2.png);
}

.section4_img1,
.section4_img2 {
    background-size: 300px 540px;
    background-repeat: no-repeat;
}

/* 기타 */

.section2 .ea5b0c span,
.section3 .ea5b0c span,
.ea5b0c {
    color: #EA5B0C;
    font-weight: bold;
}

.hover_ea5b0c:hover {
    color: #EA5B0C;
    font-weight: bold;
}



/* 푸터 */

footer a:hover {
    color: #EA5B0C;
    font-weight: bold;
}

/* 푸터 간격 띄우기 */
@media screen and (max-width: 991px) {
    footer>div>div>ul>li:nth-last-of-type(1) {
        margin-bottom: 8px;
    }
}