@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url(reset.css);

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.main a {
    font-size: 1.8rem;
    color: #333;
}

.sub a {
    font-size: 1.4rem;
    color: #777;
}

.copy {
    color: #444;
    line-height: 50px;
    font-size: 1.2rem;
}

.copy p {
    font-size: 1.33rem;
}

/* common */

#wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    height: 100px;
    padding: 30px 0;
}

/* logo */

.logo {
    font: 18px;
    letter-spacing: 4px;
    width: 300px;
    float: left;
}

.logo span {
    letter-spacing: 8px;
}

.logo a {
    color: #777;
}

/* global navigation bar */
#gnb {
    float: right;
    margin-top: 10px;
}


/* 1depth */

#gnb .main li {
    position: relative;
    display: inline-block;
    width: 150px;
}

.hover div {
    position: absolute;
    width: 1px;
    border: 1px solid #ccc;
    left: -1%;
    opacity: 0;
}

.hover:hover div:nth-of-type(1) {
    opacity: 1;
    width: 70px;
    transition: .4s;
}

/* 2depth */

#gnb .sub {
    display: none;
}

/* slide */

#slide {
    position: relative;
    height: 300px;
    overflow: hidden;
}

#slide li {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #5177a7;
    transition: 1s;
    opacity: 0;
}

#slide li:nth-of-type(4) {
    opacity: 1;
    z-index: -1;
}

/* modal */

#modal {
    display: none;
}

/* contents */

#contents {
    height: 200px;
    margin: 5px 0;
}

#contents>div {
    float: left;
    width: 380px;
}

/* tabs: notice & gallery */

#contents #tabs {
    width: 424px;

}

#tabs input {
    display: none;
}

#tabs input:checked+div {
    display: block;
}

#tabs div {
    display: none;
    position: absolute;
    width: 424px;
    height: 150px;
}

label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8cf;
}

.pointer {
    cursor: pointer;
}

/* 공지사항 */


#tab1 li {
    border-bottom: 1px solid #ccc;
    margin: 2px 0;
}

#tab1 span {
    display: inline-block;
    width: 334px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

/* 갤러리 */
#tabs #tab2 {
    padding: 20px 16px;
}

#tab2 a {
    display: inline-block;
    margin: 0 4px;
}

/* 라이트박스 */
.lightbox {
    display: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, .5);
}

.lightbox img {
    position: absolute;
    display: none;
    width: 400px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.visible {
    display: block;
}

/* banner */

.banner {
    margin-left: 8px;
}

.banner img {
    height: 190px;
}


/* shortcut */

#contents .shortcut {
    float: right;
}

.shortcut img {
    height: 190px;
}

/* footer */
footer {
    position: relative;
    height: 100px;
    background: linear-gradient(#fff, #ddd);
    color: #111;
    padding: 0 30px;
}

footer>a {
    color: #fff;
}

/* footer div {
    float: left;
} */

/* 하단 로고 */

.blogo{
    position: absolute;
    width: 200px;
    transform: translate(10%, 100%);
}

.blogo img {
    /* padding-top: 25px; */
}

/* 주소 및 저작권 */

.copy {
    float: left;
    background: url(../images/blogo.png) no-repeat 200px 50/71px;
    padding-left: 350px;
    text-align: center;
    line-height: 45px;
}

/* SNS */

.sns {
    float: right;
    width: 300px;
    line-height: 85px;
}

.sns li {
    float: left;
    margin: 0 16px;
}