@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url(reset.css);
/* @import url(typo.css); */


/* 작업용 */
/* body * {
        outline: 1px solid green;
    } */

/* reset */

/* 
    typo: 글꼴, 크기, 색, 줄간격, 자간, 밑줄
    font: 스타일(굵기, 기울기) 크기/줄간격 글꼴;
    letter-spacing
    color: 글자색
*/

html {
    font-size: 10px;
}

body {
    /* font: 15px/1.8 'Noto Sans KR', sans=serif; */
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.main a {
    font-size: 1.8rem;
    color: #333;
}

.sub a {
    font-size: 1.4rem;
    color: #777;
}

.copy {
    color: #444;
    /* text-align: center; */
    line-height: 50px;
    font-size: 1.2rem;
}

.copy p {
    font-size: 1.33rem;
}

/* .blogo {
    text-align: left;
    opacity: .95;
} */

/* common */

#wrap {
    width: 1200px;
    /* 가로 가운데 배치
    width값은 100%이기 때문에 표현한다.*/
    margin: 0 auto;
}

/* header */
header {
    height: 100px;
    padding: 30px 0;
}

/* logo */

.logo {
    /* float: left; */
    font: 18px;
    letter-spacing: 4px;
    width: 300px;
    float: left;
}

.logo span {
    letter-spacing: 8px;
}

.logo a {
    color: #777;
}

.logo image {
    width: 7px;
    vertical-align: middle;
    margin-right: 16px;
}

/* global navigation bar */
#gnb {
    float: right;
    margin-top: 10px;
}


/* 1depth */

#gnb .main li {
    display: inline-block;
    width: 150px;
    /* margin: 0px 16px; */
}

/* 2depth */

#gnb .sub {
    display: none;
}

/* slide */

#slide {
    height: 300px;
}

#slide li {
    position: absolute;
    background-color: #5177a7;
}

/* modal */

#modal {
    display: none;
}

/* contents */

#contents {
    height: 200px;
    margin: 5px 0;
    }

#contents>div {
    /* 1200 - 424 = 776/2 = 388 */
    float: left;
    width: 380px;
}

/* tabs: notice & gallery */

#contents #tabs {
    width: 424px;

}

#tabs input {
    display: none;
}

#tabs input:checked+div {
    display: block;
}

#tabs div {
    display: none;
    position: absolute;
    width: 424px;
    height: 150px;
}

label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8cf;
}

/* 공지사항 */

#tab1 li {
    /* display: none; */
    border-bottom: 1px solid #ccc;
    /* line-height: 1.6; */
    /* padding-bottom: 8px; */
    /* margin: 8px 0; */
    /* 숫자 0은 단위 생략 가능 */
}

#tab1 span {
    display: inline-block;
    width: 334px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

/* 갤러리 */
#tabs #tab2 {
    /* box-sizing: border-box; */
    /* display: none; */
    /* width: calc(400px - 32px); */

    padding: 20px 16px;
}

#tab2 a {
    display: inline-block;
    margin: 0 4px;
}

/* banner */

.banner {
    margin-left: 8px;
}

/* shortcut */

#contents .shortcut {
    float: right;
}

/* footer */
footer {
    position: relative;
    height: 100px;
    background: linear-gradient(#fff, #ddd);
    color: #111;
    padding: 0 30px;
}

footer>a {
    /* a 태그는 글자색을 별도 지정한다. */
    color: #fff;
}

footer div {
    float: left;
}

/* 하단 로고 */

.blogo {
    width: 200px;
}

/* 주소 및 저작권 */

.copy {
    float:left;
    /* width: 640px; */
    background: url(../images/blogo.png) no-repeat 200px 50/71px;
    padding-left: 300px;
}

/* SNS */

.sns {
    float: right;
    width: 300px;
    line-height: 100px;
}

.sns li {
    float: left;
    margin: 0 16px;
}