@charset "utf-8";

* {
    /* 요소의 패딩과 테두리를 요소의 안쪽으로 지정한다. */
    box-sizing: border-box;
    /* 기본 h1,h2,p 위아래마진有, ul 마진, 
    기본적으로 인라인요소는 여백이 없으나 button 패딩有 
    저것만 여백 0처리 해주는게 이상적*/
    /* margin: 0; */
    /* padding: 0; */
}

h1,
h2,
p,
ul {
    margin: 0;
}

li {
    list-style: none;
}

ul,
button {
    padding: 0;
}

img {
    width: 100%;
    vertical-align: top;
}

